.row 
  .large-12.columns
    %h1 Log In
    %h2.subheader Please log in to view Listener availability
    = form_tag sessions_path, html: {class: 'sessions custom'} do
      .field
        = label_tag :email
        = text_field_tag :email, params[:email]
      .field
        = label_tag :password
        = password_field_tag :password
      %p
        Did you forget your password?
        = link_to "Never fear", new_password_reset_path
      %p
        Not registered?
        = link_to 'Sign up here', '/#contact'
      .actions
        = submit_tag 'Log In', class: "button", id: "login"
      .field.remember_me
        = label_tag :remember_me!
        = check_box_tag :remember_me, 1, params[:remember_me]


