<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="large-12 columns">
      <div class="large-10 columns">
      <%= f.text_field :email, placeholder: "Enter your email here" %>
      </div>
      <div class="large-2 columns">
      <%= f.submit :Submit, class: "button prefix" %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Show', @user %> 
