%h3= "#{current_user.email}'s schedule"

= link_to "Add new Timeslot", new_timeslot_path

%ul
  - @schedule.timeslots.each do |timeslot|
    %li
      = link_to timeslot.start_time.to_s(:short), edit_timeslot_path(timeslot)
      = link_to 'X', timeslot_path(timeslot), :method => :delete