<% provide(:title, 'Home') %>

<div class="row" id="orange">
  <div class="eight columns offset-by-two halo header_home">
    <div class="row">
      <div class="twelve columns heading">
        <h1 class="pumpkins"><span style="color:#fff">Startups Fail.</span> All the time.</h1>
        <div class="second_para">
            <p>Some "wind down" and others crash, burning the last people crazy enough to be on the rocket.</p>
            <p>We in the tech world, logically, focus on the successes and the bets won. <span style="color:#000">Geniuses</span>. <span style="color:#000">Closers</span>. We are here for the others (in this current moment, because it is a long game after all), the negative space formed by Great Figures.
            </p>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="eight columns centered">
    <div class="row">
      <div class="twelve columns">
        <h2 class="coffee">Sometimes a coffee can mean the world.</h2>
        <%= image_tag('coffee-cup.png', class: 'coffee_pic') %>
      </div>
    </div>
  </div>
</div>

<%= render "mission" %>

<%= image_tag('hands.png', class: 'hands') %>

<div class="row sub">
  <div class="eight columns centered">
    <div class="row">
      <div class="twelve columns">
        <h2>How can I get a hold of you?</h2>
    </div>
    <div class="row" id="contact">
      <div class="three columns first">
        <h3>Email us</h3>
        <%= image_tag('mail.png', class: 'mail', width: 60, height: 60) %>
        <p>
        If you use email below we will reply immediately
        </p>
      </div>
      <div class="three columns second">
        <h3>Burnr / Skype</h3>
        <%= image_tag('skype.png', class: 'skype', width: 60, height: 60) %>
        <p>
        If you want to talk over phone, please email us and we can arrange a call on Burnr or Skype to protect your anonymity.
        </p>
      </div>
      <div class="three columns third">
        <h3>Coffee</h3>
        <%= image_tag('coffee.png', class: 'little_coffee', width: 51, height: 63) %>
        <p>
        If you live in the Los Angeles area, and immediacy is not key, we will try to meet with anyone that really needs it.
        </p>
      </div>
    </div>
        <%= render partial: "/users/new" %>
      </div>
    </div>
  </div>
</div>