<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="/">Startups Anonymous</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="left">
      <li class="divider"></li>
      <li>
        <% if signed_in? %>
        <%= link_to "Listener Availability", timeslots_path %>
        <% end %>
      </li>
      <li>
        <% if signed_in? && current_user.role == "listener" %>
        <%= link_to "My Schedule", schedule_path %>
        <% end %>
      </li>
      <li class="divider"></li>
      <li>
        <% if signed_in? %>
        <%= link_to "My Profile", user_path %>
        <% end %>
      </li>
      <li class="divider"></li>
    </ul>

    <ul class="right">
      <li class="divider"></li>
      <li><a href="/listeners">Listeners</a></li>
      <li class="divider"></li>
      <li><a href="/resources">Resources</a></li>
      <li class="divider"></li>
      <li><a href="/about">About</a></li>
      <li class="divider"></li>
      <% if signed_in? %>
        <li class="divider"></li>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %> 
        <li class="divider"></li>
        <li><%= link_to "Log in!", login_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
